body {
	font-family: 'Novecentosanswide-DemiBold', sans-serif;
}
h2 {
	margin-top: 0;
	padding-top: 0;
	color: #737373;
	font-size: 22px;
    text-transform: uppercase;
}
p {
    font-family: 'HelveticaNeue', sans-serif;
	color: #8a8888;
	font-size: 14px;
    line-height: 22px;
}
.header {
	margin-top: 30px;
}

.logo {
	background: transparent url(img/logo.png) no-repeat;
	display: block;
	text-indent: -9999px;
	width: 163px;
	height: 50px;
	float: left;
}

.social-icons {
	float: right;
	padding: 0;
	margin: 0;
	height: 50px;
}

.social-icons ul {
	list-style: none;
	padding-top: 5px;
}

.social-icons ul li {
	margin-left: 7px;
	float: left;
	width: 40px;
	height: 40px;
	display: block;
	padding: 8px 8px;
	color: #dbdbdb;
	border: 3px solid #dadada;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.social-icons ul li i {
	width: 15px;
	height: 15px;
}

.social-icons .twitter {
	margin-left: 0px;
}

.social-icons .facebook {
	padding: 8px 10px;
}

.social-icons .rss {
	padding: 8px 10px;
}

.social-icons .pinterest {
	padding: 7px 9px;
}

.social-icons .google {
	padding: 8px 6px;
}

.social-icons .dribbble {
	padding: 8px 9px;
}

.social-icons a:hover .twitter {
	color: #00aced;
	border-color: #00aced;
}

.social-icons a:hover .facebook {
	color: #3b5998;
	border-color: #3b5998;
}

.social-icons a:hover .rss {
	color: #fb8f3d;
	border-color: #fb8f3d;
}

.social-icons a:hover .pinterest {
	color: #cb2027;
	border-color: #cb2027;
}

.social-icons a:hover .google {
	color: #dd4b39;
	border-color: #dd4b39;
}

.social-icons a:hover .dribbble {
	color: #ea4c89;
	border-color: #ea4c89;
}

.navigation {
	margin-top: 35px;
	padding-top: 25px;
	margin-bottom: 15px;
	border-top: 1px solid #dadada;
}

.navigation ul {
	list-style: none;
	float: left;
	padding-left: 0;
}

.navigation ul li {
	text-transform: uppercase;
	float: left;
	margin-right: 30px;
}

.navigation ul li a {
	color: #737373;
	font-size: 18px;
	font-family: Novecentosanswide-DemiBold;
	font-weight: normal;
}

.navigation ul li a:hover {
	color: #2ecc71;
	text-decoration: none;
}

.navigation .active {
	color: #2ecc71;
}

.main-content {
	background-color: #ffffff;
}

.devices {
	padding-left: 0px;
	padding-right: 0px;
}

.devices img {
	width: 100%;
}

.main-content .intro {
	margin-top: 40px;
	text-align: center;
}

.main-content .intro h3 {
	color: #aeadad;
	font-size: 16px;
	text-transform: uppercase;
	line-height: 25px;
	margin: 0;
}
/*
.main-content .intro .btn {
	margin-top: 25px;
	padding: 13px 18px;
	text-transform: uppercase;
	color: #ffffff;
	font-size: 14px;
	background-color: #2ecc71;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}
*/
.button {
	background-color: #2ecc71;
	color: #ffffff;
	text-transform: uppercase;
	padding: 15px 18px;
	text-decoration: none;
	margin-top: 27px;
	display: inline-block;
    font-size: 14px;
}
.button:hover {
    background-color: transparent;
	color: #2ecc71;
	text-decoration: none;
    border-color: #2ecc71;
    border-style: solid;
    border-width: 2px;
    padding: 13px 16px;
}

.secondary-content {
	margin-top: 50px;
	background-color: #efefef;
}

.video-thumb,
.get-to-know-text, .featured-projects-text {
	margin-top: 40px;
	margin-bottom: 40px;
}
.featured-projects-text {
    text-align: center;
}

.cta {
    background-color: #322f2f;
}
.blown-away h2 {
    color: #efefef;
    margin-top: 58px;
    margin-bottom: 58px;
}
.find-out .button {
    margin-top: 45px;
    margin-bottom: 45px;
}

.footer {
    background-color: #efefef;
    height: 100px;
    font-size: 12px;
    text-align: center;
    color: #a5a5a5;
    text-transform: uppercase;
    line-height: 18px;
    padding-top: 35px;
    padding-bottom: 35px;
}
.footer-nav ul {
	list-style: none;
    padding-left: 0;
}

.footer-nav ul li {
    display: inline;
}

.footer-nav ul li a {
	color: #a5a5a5;
    text-decoration: none;
}

.footer-nav ul li a:hover {
	color: #2ecc71;
	text-decoration: none;
}

/* Featured Projects */
.featured-projects {
    padding: 20px 0 50px 0;
}

/* Media Queries */

@media (max-width: 768px) {
	.logo {
		float: none;
		margin-left: auto;
		margin-right: auto;
	}
	.social-icons {
		float: none;
		text-align: center;
		margin-top: 20px;
	}
	.social-icons ul {
		padding-left: 0px;
	}
	.navigation ul {
		float: none;
	}
	.navigation ul li {
		float: none;
		text-align: center;
		margin-left: 0;
		margin-right: 0;
	}
}
@media (max-width: 991px) {
    .get-to-know-text, .find-out, .blown-away {
        text-align: center;
    }
    .blown-away h2 {
        margin-bottom: 0;
    }
}
